# droppings
*~
.\#*
\#*
foo*
*.beam

/*.png
/.ICEauthority
/.IdeaIC*/
/.aspell.*
/.aws
/.bash_history
/.bash_logout
/.bazelrc
/.cache/
/.cargo/
/.cask/
/.cloud-locale-test.skip
/.config/
/.dbus/
/.docker/
/.emacs.*
/.erlang
/.erlang.cookie
/.face*
/.fontconfig/
/.gnupg
/.gradle/
/.ispell_*
/.java/
/.krew/
/.kube
/.lastpass/
/.lesshst
/.lmmsrc.xml
/.local/
/.localbashrc
/.mlterm/
/.mozilla/
/.nmcli*
/.nv/
/.pam_environment
/.password-store/
/.pgAdmin*
/.pgadmin*
/.pgpass
/.pki/
/.python_history
/.rustup/
/.screenlayout/
/.slack*
/.ssh/
/.sudo_as_admin_successful
/.terraform.d/
/.wg2/
/.wget*
/.wpa_cli_history
/.xinputrc
/.xpra/
/.xsession-errors
/bin/bazel*
/bin/dialyzer
/bin/docker-credential-*
/bin/epmd
/bin/erl
/bin/erlc
/bin/escript
/bin/kubectl-*
/bin/rebar3
/bin/skopeo
/pgadmin.log
/snap/
/stale_outputs_checked

/user_default.erl
/git/
/tmp/
/VPN/
