# droppings
*~
.\#*
\#*
foo*
*.beam

# $HOME files
/*.png
/.aspell.*
/.aws
/.bash_history
/.bash_logout
/.bazelrc
/.cache/
/.cargo/
/.cask/
/.cloud-locale-test.skip
/.config/
/.dbus/
/.docker/
/.emacs.*
/.erlang
/.erlang.cookie
/.gnupg
/.gradle/
/.ispell_*
/.java/
/.krew/
/.kube
/.lesshst
/.lmmsrc.xml
/.local/
/.localbashrc
/.minikube/
/.mlterm/
/.mozilla/
/.nmcli*
/.nv/
/.pam_environment
/.password-store/
/.pgAdmin*
/.pgadmin*
/.pgpass
/.pki/
/.python_history
/.rustup/
/.screenlayout/
/.slack*
/.ssh/
/.sudo_as_admin_successful
/.terraform.d/
/.wget*
/.wpa_cli_history
/.wrk.sh
/.xinputrc
/VPN/
/bazel-explain
/bin/bazel*
/bin/dialyzer
/bin/docker-credential-*
/bin/epmd
/bin/erl
/bin/erlc
/bin/escript
/bin/kubectl-*
/bin/rebar3
/bin/skopeo
/git/
/pgadmin.log
/stale_outputs_checked
/tmp/
/user_default.erl
