# -*- mode: conf -*-
[user]
  name = mats cronqvist
  email = masse@cronqvi.st

[github]
  user = massemanet

[color]
   ui = auto

[alias]
  alias = "! git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'"
  co = checkout
  lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  poke-concourse = commit --allow-empty -m'poke concourse'
  pushf = push --force-with-lease
  pushu = "! git push -u origin $(git branch -a | awk '/\\*/{print $2}')"
  reb = "! git fetch && git rebase $(git remote)/$(git symbolic-ref refs/remotes/$(git remote)/HEAD | sed 's|refs/remotes/.*/||') && git push --no-verify --force-with-lease"
  st = status
  sync = "! git fetch --prune && git pull --ff-only && for b in $(git branch -vv | grep ': gone]' | awk '{print $1}') ; do git branch -D $b ; done && git status | grep 'Your branch is ahead' && git push || true"

[push]
  default = simple

[pull]
  ff = only

[init]
  defaultBranch = main
